.navbar-container {
  border-bottom: 1px solid black;
}

.list-container {
  margin-top: 15px;
}

.logout-button {
  text-decoration: underline;
  cursor: pointer;
}

li {
  display: inline;
  list-style-type: none;
  margin-right: 15px;
  padding: 0;
}